errors.txt
files.txt
log.txt
traceback.txt
game/saves/*
game/cache/*
game/movies/*.jpg
game/movies/*.png
game/movies/*.webp
*.rpyc
*.rpy-e
*.rpymc
*.sh
fonts/*
characters-raw/*
characters/*
trans/*
game/*.md
!game/walkthrough.md
legacy-scripts/*
.tmp
events*.txt
project.json